*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container h1 {
    text-align: center;
}
.container {
    text-align: center; /* Centra el texto dentro del contenedor */
}
.container h1 {
    margin-bottom: 20px; /* Opcional: Ajusta el margen inferior del título */
}
/* inicio de banner*/
/*.banner{
    width: 80%;
    height: calc(100vh - 7em);
    background-color: rgb(131, 133, 104);
}

/* inicio de article*/
/*.article{
    width: 80%;
    height: 100vh;
    background-color: rgb(124, 139, 160);
}

/* inicio de footer*/
/*.footer{      
    width: 80%;
    height: 4em;
    background-color: rgb(52, 52, 52);
}